.dn {
	display:none !important;
}


/* CSS as on 10th June- Akila */

input[type=checkbox] {
	padding: 5px;
}	

#tabs a {
	font-size: 16px;
	font-weight: bold !important;
	
}

#tabs > li.active >a {
	font-weight: normal;
	color:  #25bce9;
}

#student:before, input[type=radio]:checked +label{
	padding: 10px 10px;
	margin: 20px 20px 20px 0px;
	font-size: 14px;
}

#professional:before, input[type=radio] +label{
	padding: 10px 10px;
	margin: 20px 20px 20px 0px;
	font-size: 14px;
}

/*#print_book_college, select:focus {
	border: 1px solid #25bce9;
	border-radius: 4px;
}*/

#product-detail .tab-content{
	margin: 20px 0px;
	padding: 20px 0px;
}

.step2{
	margin: 20px;
}

.print-sides{ margin: 0px 10px;}

#paper-row, select{
	width: 50%;
	font-weight: normal;
}

.input_holder select {
    height: 45px;
    margin: 0 0 20px;
    max-width: 425px;
    padding: 0;
    width: 100%;
}
.input_holder input[type=text] {
    height:	45px;
    padding:0px 5px 0px 5px;
    color:#000;
    font-size:14px;
    margin:0px 0px 20px 0px;
    width:500px;
}
.input_holder label {
	padding:0px;
	margin:0px;
	width:155px;
}
.input_holder_heading label{
	margin:0px 0px 0px 10px;
	
}

.input_holder_heading{
	background-color: #25bce9;
	padding: 10px;
	border: 2px solid #25bce9;
	border-radius: 3px;
	margin-right: 885px;
	color: #ffffff;
}

.payment-button{
	padding: 20px;
	float:left;
}

.pay-btn{
	margin: 10px;
	padding: 5px;
}
h3, .h3{ 
	font-weight: bold;
}

/*Added by siva*/
/*Css for Validation*/ 
.login_error {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.error_input_field {
	background: #ffebeb !important;
    border: 1px solid red !important;	
}
.forget_email_valid {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.forget_error {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.reg_error {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.reg_error_message_s{
	color: #00A8FF;
	text-align: center;
	font-size: 14px;
}
.reg_error_message_e{
	color: red;
	text-align: center;
	font-size: 14px;
}
/*ended by siva*/
.yellow_heading{ 
	font-size: 18px;
	}

/* CSS as on 11th June -Akila  */
.button_holder{ margin-left : 170px;}

.button_holder a{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: right;
    font-size: 12px;
    padding: 10px 35px;
    text-transform: uppercase;
    cursor:pointer;
	}

.button_holder a:hover { 
	background-color: #25bce9;
	color: #ffffff; 
}
	
.btn_prf { float:left;
           margin: 30px 15px;
           
  }
  
 .btn_browse {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: left;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
}	

.button1:hover {
	background-color: #fbc443;
	color: #ffffff; 
}

..button1{ width: 10% !important;}

.con_details>h3{
	color: #ffffff;
	background-color:#25bce9;
	padding:10px;
	border: 2px solid #25bce9;
	border-radius: 3px;
	margin-right: 885px;
	

}

.add-cart-btn .add-cart {
    background: #fbc443 none repeat scroll 0 0;
    border-bottom: 2px solid #022c39;
    color: #333333;
    font-size: 21px;
    font-weight: bold;
    height: 54px;
    line-height: 54px;
    padding: 0;
    text-align: center;
    transition: border 0.3s ease 0s;
    width: 20%;
}

#order, #shipping{
	padding:10px;
}

/* Css for PrintStorkHTML as on 13th June */

/* placeholder for select in home page */
select:required:invalid {
color: #999;
}
option[value=""][disabled] {
display: none;
}
option {
color: #000;
}

/* placeholder for select in home page */

.fl{ float:left;}

.cb { clear:both;}

.button_holder_printbooking { 
	margin-left:0px;
	background: none !important;
}

/*css as on 14th June -Akila */
/* home.html */

.cart-w, .search-w{
  position: relative;
  display: block;
  width: 20% !important;
  vertical-align: middle;
}

.location{ padding: 0px; }

.location, select {
	/* margin-bottom: 25px; */
	padding: 10px 10px 10px 0px;
	width: 50%;
}

#print_book_college, select {
	margin-bottom: 25px;
}

#print_book_state, select { margin-bottom: 25px !important;}

.pr-main{
	padding:30px 0 0px !important;
}

.socail_fb { padding-top: 19px;}

.socail_google { padding-top: 115px;}

#pr-login .container .col-md-6.col-sm-6.col-xs-12.right p {
    margin-bottom: 10px !important;
}

/* Css as on 15th */

.img_captcha { 
	padding: 0px;
	border: 1px solid #d7d7d7;
}

.img_refersh {
	padding: 10px;
	margin-top: 20px;
}

.user input[type=text]{
	width: 500px;
}

.addbutton { 
	padding: 2px;
}

/* as on 16th june-Akila */

.my_order{
	border: 1px solid grey;
	border-radius: 5px;
}

.pane {
	padding: 20px;
}

#right-pane-top, #checkfull {
    padding: 0;
    width: 100% !important;
}

.registers{
	padding: 10px 10px 15px 10px;
}

.ship-box{
	margin:10px;
	border: 1px solid #888888;
}

.cart-summary.no-border tr th {
    background: #e8e8e8 none repeat scroll 0 0;
    color: #5a5a5a;
    font-size: 12px;
    padding: 10px !important;
    text-align: center;
    text-transform: capitalize;
}

.btn_pay{ 
	padding-left: 245px;
	}


/* Resposive */

@media(max-width:798px){
	
.headerCS {
    float: left;
    width: 60%;
}

.location, select {
    padding: 10px 10px 10px 0;
    width: 100%;
}

#top-header {
    float: none;
    height: auto;
}

	
}

/* By muthu */
.uploadbutton {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: left;
    font-size: 12px;
    padding: 10px 35px;
    text-transform: uppercase;
    width : 115px;
}

.uploadbutton:hover {
   background-color: #25bce9;
   color: #fff;
   cursor: pointer;
}
.no_pad{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.pad_15{
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.pos_rel{
	position: relative;
}
.add_btn,.del_btn{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: left;
    font-size: 26px;
    padding: 0px 20px;
    text-transform: uppercase;
    margin-left:10px;
}
.add_btn:hover,.del_btn:hover  {
   background-color: #25bce9;
   color: #fff;
   cursor: pointer;
}
.add_btn{
	position:absolute;
	right: -93px;
    top: -65px;
}
.del_btn{
	position:absolute;
	right: -183px;
    top: -65px;
}
h4.order_or_button{
    color: #444444;
    float: left;
    font-size: 12px;
    padding: 10px 35px;
    text-transform: uppercase;
    margin: 30px 15px;
}
.profession_state_area_holder > span {
    color: red;
}
.popup_fade{
	background: #000000 none repeat scroll 0 0;
    display: none;
    height: 1000%;
    opacity: 0.63;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1100;
   
}
.error_popup_msg {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 140px;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 230px;
    z-index: 9999;
}
.success-alert {
  	padding: 25px 0 30px;
    text-align: center;
}
.success-alert span{
	color: red;
}
.alert_btn{
	left: 87px;
    position: relative;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: left;
    font-size: 14px;
    padding: 0px 20px;
    text-transform: uppercase;
}
.error_border{
	border : 1px solid #CB1D1D !important;
}
.textarea_print{
	resize: none;
}
.page_range_error {
    color: red;
    font-size: 12px;
    display: none;
}
.error_print_booking_field {
    border : 1px solid #cb1d1d !important;
}
.error_print_booking {
    font-size: 12px;
    color: red;
    text-align: center;
    display: none;
}
#print_page_range, .pos_rel {
    display: none;
}
#print_page_range {
    margin-right: 20px;
}
.uploadbutton {
    margin-bottom: 20px;
}