.dn {
	display:none;
}


/* CSS as on 10th June- Akila */

input[type=checkbox] {
	padding: 5px;
}	

#tabs a {
	font-size: 16px;
	font-weight: bold !important;
	
}

#tabs > li.active >a {
	font-weight: normal;
	color:  #25bce9;
}

#student:before, input[type=radio]:checked +label{
	padding: 10px 10px;
	margin: 20px 20px 20px 0px;
	font-size: 14px;
}

#professional:before, input[type=radio] +label{
	padding: 10px 10px;
	margin: 20px 20px 20px 0px;
	font-size: 14px;
}

.location, select {
	width: 50%;
	margin: 0 205px 20px;
	padding:10px;
} 

#print_book_college, select:focus {
	border: 1px solid #25bce9;
	border-radius: 4px;
}

#product-detail .tab-content{
	margin: 20px 0px;
	padding: 20px 0px;
}

#color-type, input[type=radio]:checked {
	padding: 10px 20px;
	margin: 10px;
}

.step2{
	margin: 20px;
}

.print-sides{ margin: 0px 10px;}

table,td{ 
	margin: 0px 33px;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
 }

#paper-row, select{
	width: 50%;
	font-weight: normal;
}
.input_holder select {
	height: 45px;
    margin: 0 0 20px 0px;
    padding: 0;
    width:500px;
}
.input_holder input[type=text] {
    height:	45px;
    padding:0px 5px 0px 5px;
    color:#000;
    font-size:14px;
    margin:0px 0px 20px 0px;
    width:500px;
}
.input_holder label {
	padding:0px;
	margin:0px;
	width:155px;
}
.input_holder_heading label{
	margin:0px 0px 0px 10px;
	
}

.input_holder_heading{
	background-color: #25bce9;
	padding: 10px;
	border: 2px solid #25bce9;
	border-radius: 3px;
	margin-right: 885px;
	color: #ffffff;
}

.payment-button{
	padding: 20px;
	float:left;
}

.pay-btn{
	margin: 10px;
	padding: 5px;
}
h3, .h3{ 
	font-weight: bold;
}

/*Added by siva*/
/*Css for Validation*/ 
.login_error {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.error_input_field {
	background: #ffebeb !important;
    border: 1px solid red !important;	
}
.forget_email_valid {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.forget_error {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}
.reg_error {
	display: none;
	color: red;
	text-align: center;
	font-size: 14px;
}

/*ended by siva*/
.yellow_heading{ 
	font-size: 18px;
	}

/* CSS as on 11th June -Akila  */
.button_holder{ margin-left : 450px;}

.button_holder a{
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: right;
    font-size: 12px;
    padding: 10px 35px;
    text-transform: uppercase;
	}

.button_holder a:hover { 
	background-color: #25bce9;
	color: #ffffff; 
}
	
.btn_prf { float:left;
           margin: 30px 15px;
           
  }
  
 .btn_browse {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #d6d6d6 none repeat scroll 0 0;
    border-color: transparent transparent #646464;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    color: #444444;
    float: left;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
}	

.button1:hover {
	background-color: #25bce9;
	color: #ffffff; 
}

.con_details>h3{
	color: #ffffff;
	background-color:#25bce9;
	padding:10px;
	border: 2px solid #25bce9;
	border-radius: 3px;
	margin-right: 885px;
	

}

.add-cart-btn .add-cart {
    background: #fbc443 none repeat scroll 0 0;
    border-bottom: 2px solid #022c39;
    color: #333333;
    font-size: 21px;
    font-weight: bold;
    height: 54px;
    line-height: 54px;
    padding: 0;
    text-align: center;
    transition: border 0.3s ease 0s;
    width: 20%;
}

#order, #shipping{
	padding:10px;
}

/* Admin Module -- Sidebar css */

.sidey{
	background-color: #9E9E9E;
	color: #ffffff;
}
